@import 'variables';
@import 'mixins';

#contacto {
  background: url("../images/textura-cuero-fondo.jpg") center/cover no-repeat;
  padding: 50px 20px;
  color: $text-color;

  .contacto-section {
    @include flex-center;
    flex-direction: column;

    h2 {
      font-size: $font-size-large;
      margin-bottom: 20px;
    }

    .contacto-info,
    .contacto-form {
      @include flex-center;
      background-color: #333;
      padding: 20px;
      border-radius: 10px;
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
      }

      p {
        margin: 10px 0;
      }
    }

    .contacto-info {
      .redes-sociales {
        margin-top: 20px;

        ul {
          list-style: none;
          padding: 0;

          li {
            margin: 10px 0;

            a {
              color: $text-color;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .contacto-form {
      form {
        display: flex;
        flex-direction: column;

        .form-label {
          margin: 10px 0 5px;
          font-weight: bold;
        }

        .form-control {
          padding: 10px;
          margin-bottom: 15px;
          border: none;
          border-radius: 5px;
        }

        .btn-primary {
          background-color: #00bfff;
          border: none;
          border-radius: 5px;
          padding: 10px;
          color: $secondary-color;
          cursor: pointer;

          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
  }
}
