@import 'variables';

#galeria {
  background: url("../images/textura-cuero-fondo.jpg") center/cover no-repeat;

  .galeria-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;

    h2 {
      font-size: $font-size-large;
      color: $text-color;
      margin-bottom: 10px;
    }

    p {
      font-size: $font-size-medium;
      color: $text-color;
      margin-bottom: 30px;
    }

    .carousel {
      max-width: 800px;  // Ajusta el ancho máximo del carrusel
      margin: 0 auto;    // Centra el carrusel en la página
      border-radius: 10px; // Opcional: Agrega bordes redondeados

      .carousel-inner {
        img {
          width: 100%;
          height: 400px;  // Ajusta la altura del carrusel
          object-fit: cover;  // Asegura que la imagen cubra el área sin deformarse
        }
      }
    }
  }
}
