// Variables de colores
$primary-color: #583c3c;
$secondary-color: #000000;
$text-color: #ffffff;
$button-hover: #0088cc;

// Variables de tipografía
$font-size-base: 16px;
$font-size-large: 2.5rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;

// Otros
$padding-base: 10px;
